* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

body {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

.container {
  padding: 16px;
}

.buttons-container {
  margin-bottom: 16px;
  width: 280px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.buttons-container button {
  border: none;
  background: darkmagenta;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 7px;
  height: 32px;

  transition: filter .2s;
  transition: transform .1s ease-in-out;
}

.buttons-container button:hover {
  filter: brightness(0.9);
  transform: scale(1.05);
}

.content-container {
  display: flex;
}

.grid {
  width: 200px;
  height: 400px;
  background: linear-gradient(to top, darkmagenta, rgb(70, 0, 70));

  display: flex;
  flex-wrap: wrap;
}

.grid div {
  width: 20px;
  height: 20px;
}

.content-right {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.mini-grid {
  width: 120px;
  height: 120px;
  background: linear-gradient(to bottom, darkmagenta, rgb(70, 0, 70));
  display: flex;
  flex-wrap: wrap;
}

.mini-grid div {
  width: 20px;
  height: 20px;
}

.content-right h3 {
  font-size: 32px;
  margin-top: 24px;
}

.shapePainted {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.bronze-to-yellow {
  background: linear-gradient(70deg, #cd7f32, yellow);
}

.green-to-neon {
  background: linear-gradient(70deg, #1f564c, #ccff33);
}

.gold-to-orange {
  background: linear-gradient(70deg, gold, orange);
}

.darkgray-to-white {
  background: linear-gradient(70deg, #626262, white);
}

.blue-to-lightblue {
  background: linear-gradient(70deg, blue, cyan);
}

.red-to-pink {
  background: linear-gradient(70deg, red, pink);
}

.mobile-buttons-container {
  margin-top: 20px;
  max-width: 300px;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-template-rows: 64px 64px;
}

.mobile-buttons-container button {
  background: linear-gradient(to bottom, magenta, rgb(156, 0, 156));
  border: none;
  border-radius: 5px;
}

.mobile-buttons-container button span {
  color: white;
  font-weight: bold;
}

/* Responsividade */
@media (max-width: 990px) {
  .mobile-buttons-container{
    display: grid;
  }
}

@media (max-width: 470px) {
  .content-right {
    margin-left: 16px;
  }

  .content-right h3 {
    font-size: 20px;
    text-align: center;
  }

  .score {
    display: block;
  }
}